.initial-background {
    width: 100%;
    background-image: url(images/prism.png);
    background-repeat: repeat;
    height: 100vh;
}
.jumbotron{
    background-color: transparent !important;
}
#nav_bar{
    background-color: #1f2833;
}

.nav-section{
    background-color: #1f2833;
}

.teal{
    color: #66fcf1;
}

#view-work{
 margin-top:15px;
}

.greeting {
    text-align: center;
    color: whitesmoke;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 .about-section {
    background-color: #e9ecef;
    padding-bottom: 100px;
 }
 .portfolio-section {
    background-color: whitesmoke;
    padding-bottom: 100px;
 }

 .contact-section {
     background-color: #e9ecef;
 }

 .display-4{
     text-align: center;
 }

 #footer {
     height: 203px;
     background-color: rgb(50, 50, 50);
 }